<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">

    <!--引入配置文件-->
    <context:property-placeholder location="classpath:rabbitmq.properties"/>
    <!--定义rabbitmq connectionFactory-->
    <rabbit:connection-factory id="connectionFactory"
                               host="${rabbitmq.host}"
                               port="${rabbitmq.port}"
                               username="${rabbitmq.username}"
                               password="${rabbitmq.password}"
                               virtual-host="${rabbitmq.virtual-host}"/>
    <!--底层创建RabbitAdmin Bean 管理交换机,队列-->
    <rabbit:admin connection-factory="connectionFactory"/>

    <!--定义持久化队列,不存在则自动创建;不绑定交换机则绑定到默认交换机,默认就熬还击类型为direct,名字为"",路由键为队列名称-->
    <rabbit:queue id="simple_queue" name="simple_queue"
                  durable="true" exclusive="false" auto-delete="false"
                  auto-declare="true"/>

    <!--发布订阅模式,广播模式:所有队列都能收到消息-->
    <!--定义广播交换机中的持久化队列,不存在则自动创建-->
    <rabbit:queue id="spring_fanout_queue_1" name="spring_fanout_queue_1" auto-declare="true"/>
    <rabbit:queue id="spring_fanout_queue_2" name="spring_fanout_queue_2" auto-declare="true"/>
    <!--定义广播交换机,并绑定上述两个队列-->
    <rabbit:fanout-exchange id="spring_fanout_exchange" name="spring_fanout_exchange"
                            auto-declare="true">
        <rabbit:bindings>
            <rabbit:binding queue="spring_fanout_queue_1"></rabbit:binding>
            <rabbit:binding queue="spring_fanout_queue_2"></rabbit:binding>
        </rabbit:bindings>
    </rabbit:fanout-exchange>

    <!--路由模式-->
    <!--定义路由交换机中的持久化队列,不存在则自动创建-->
    <rabbit:queue id="spring_routing_queue_1" name="spring_routing_queue_1" auto-declare="true"/>
    <rabbit:queue id="spring_routing_queue_2" name="spring_routing_queue_2" auto-declare="true"/>

    <!--定义通配模式交换机中的持久化队列,不存在则自动创建-->
    <rabbit:queue id="spring_topic_queue_1" name="spring_topic_queue_1" auto-declare="true"/>
    <rabbit:queue id="spring_topic_queue_2" name="spring_topic_queue_2" auto-declare="true"/>
    <rabbit:queue id="spring_topic_queue_3" name="spring_topic_queue_3" auto-declare="true"/>
    <!--通配交换机绑定队列-->
    <rabbit:topic-exchange id="spring_topic_exchange" name="spring_topic_exchange"
                           auto-declare="true">
        <rabbit:bindings>
            <rabbit:binding pattern="*.orange.*" queue="spring_topic_queue_1"/>
            <rabbit:binding pattern="#.error" queue="spring_topic_queue_1"/>
            <rabbit:binding pattern="order.*" queue="spring_topic_queue_2"/>
            <rabbit:binding pattern="*.*.rabbit" queue="spring_topic_queue_2"/>
            <rabbit:binding pattern="lazy.#" queue="spring_topic_queue_2"/>
        </rabbit:bindings>
    </rabbit:topic-exchange>


    <rabbit:template id="rabbitTemplate" connection-factory="connectionFactory"/>
</beans>