<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">
    <!--加载配置文件-->
    <context:property-placeholder location="classpath:rabbitmq.properties"/>
    <!--定义rabbitmq connectionFactory-->
    <rabbit:connection-factory id="connectionFactory"
                               host="${rabbitmq.host}"
                               port="${rabbitmq.port}"
                               username="${rabbitmq.username}"
                               password="${rabbitmq.password}"
                               virtual-host="${rabbitmq.virtual-host}"/>

    <bean id="simpleQueueListener" class="com.atguigu.rabbitmq.listener.SimpleQueueListener"/>

    <!--广播模式队列监听器-->
    <bean id="fanoutListener1" class="com.atguigu.rabbitmq.listener.FanoutListener1"/>
    <bean id="fanoutListener2" class="com.atguigu.rabbitmq.listener.FanoutListener2"/>

    <!--通配模式,队列监听器-->
    <bean id="topicListener1" class="com.atguigu.rabbitmq.listener.TopicListener1"/>
    <bean id="topicListener2" class="com.atguigu.rabbitmq.listener.TopicListener2"/>

    <rabbit:listener-container connection-factory="connectionFactory" auto-declare="true">
        <!--简单模式队列监听-->
        <rabbit:listener ref="simpleQueueListener" queue-names="simple_queue"/>
        <!--广播模式 队列监听-->
        <rabbit:listener ref="fanoutListener1" queue-names="spring_fanout_queue_1"/>
        <rabbit:listener ref="fanoutListener2" queue-names="spring_fanout_queue_2"/>
        <!--通配模式 队列监听-->
        <rabbit:listener ref="topicListener1" queue-names="spring_topic_queue_1,spring_topic_queue_2"/>
    </rabbit:listener-container>







</beans>